 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

<meta charset="utf-8">

<title>SGPA - Sistema de Gestion de Modelos Agiles</title>

</head>

<body>
	<center>
		<div style="text-align: center; height:20px; border: 1px solid red; width:70%; align: center;">
	
			<div style="text-align: left; height:20px; border: 1px solid red; width:50%; float:left;">
				{% block atras %}
			 	{% endblock %}
			</div>
			<div style="text-align: right; height:20px; border: 1px solid red; width:49.6%; float:right;">
				{% block usuario %}
				{% endblock %}
			 	<td><a href="/apps/cerrar">Salir</a></td>
			</div>
		</div>
	<center>
		<div style="text-align: center; font-size: 60px; border: 1px solid red; width:70%; align: center;">
	
			SGPA
	
		</div>
		</center>
		
		<center>
			<div style="text-align: center; height:20px; border: 1px solid red; width:70%; align: center;">
	
				{% block navegacion %}
				{% endblock %}
	
			</div>
		</center>
	
		<center>
			<div style="border: 1px solid green;  height:1200px; width:70%;">
				<div style="text-align: left; border: 1px solid green;  height:100%; width:20%; float:left;">
					<br>
					<br>
					<br>
					<br>
	 				<ul>
	 				{% block index %}
	 				{% endblock %}
	 				</ul>
				</div>
				<div style="text-align: center; border: 1px solid green;  height:8%; width:79.6%; float:right;">
					{% block titulo %}
					{% endblock %}
				</div>
				<div style="text-align: left; border: 1px solid blue; width:79.6%; height:91.6%; overflow:auto; float:right;">
					
					<ul>
					<center>
					{% block encabezado %}
					{% endblock %}
					</center>
	 				{% block contenido %}
	 				{% endblock %}
	 				</ul>
	 				
				</div>
			</div>
		</center>
	<center>
	
		<div style="border: 1px solid blue; width:70%;">
	
			2015
	
		</div>
	</center>
</body>

</html>