{% extends 'base.html' %}
{% block titulo %}
<h1><b>Asignar Horas de Trabajo</b></h1>
{% endblock %}
{% block contenido %}
<h3><b>Usuario: {{user}}</b></h3><br />

{% if proyectos %}
	{% if user_stories %}
		{% for p in proyectos %}
			<br><h3><label>{{p.nombre}}</label></h3>
			{% for hu in user_stories %}
				<ul>
					{% if hu.proyecto_id == p.id %}
						<li>
							{% if hu.sprint > 0 %}
								<form action="{% url 'apps:horas' hu.id %}" method="post">{% csrf_token %}
									<label><font size="4">User Story {{hu.id}}</font>:&emsp;<font size="3">{{hu.descripcion}}</font><font size="2">&emsp;{{formulario}}</label>Horas&emsp;<input type="submit", name="{{hu.id}}", value="Sumar Horas"></font>&emsp;{{mensaje}}
								</form>
							{% else %}
								<label><font size="4">User Story {{hu.id}}</font>:&emsp;<font size="3">{{hu.descripcion}}</font><font size="2">&emsp;(Sin Sprint asignado)</label>
							{% endif %}
						</li>
					{% endif %}
				</ul>
			{% endfor %}
		{% endfor %}
	{% else %}
		<h2>No tiene asignado ningun User Story</h2><br />
	{% endif %}
{% else %}
	<h2>No se encuentra en ningun proyecto</h2><br />
{% endif %}
<br />
{% endblock %}
{% block atras %}
<a href="{% url 'apps:inicio' user.id rol_id %}">Atras</a>
{% endblock %}