{% extends 'base.html' %}
{% block usuario %}
{% endblock %}
{% block titulo %}
	<h1>Administrar Flujos</h1>
{% endblock %}
{% block contenido %}
	{% if misPermisos.CPF %}
		<a href="{% url 'apps:crearflujo' user_logged %}">Nueva Plantilla de Flujos</a><br />
	{% endif %}
	<br>
	{% if flujos %}
		{% for f in flujos %}
			<table >
				<tr>
					<td width="150px"><b>{{f.descripcion}}</b></td>
					<td width="70px">
						{% if misPermisos.MPF %}
							<a href="{% url 'apps:editarflujos' user_logged f.id %}">Modificar</a>
						{% endif %}
					</td>
					<td width="70px">
						{% if misPermisos.EPF %}
							<a href="{% url 'apps:flowdelete' user_logged f.id %}">Eliminar</a>
						{% endif %}
					</td>
				</tr>
			</table>
		{% endfor %}
	{% else %}
		<p>There are no flows in db</p>
	{% endif %}
{% endblock %}
{% block atras %}
<a href="{% url 'apps:adminmod' user_logged%}">Atras</a>
{% endblock %}