{% extends 'base.html' %}
{% block titulo %}
<h1>Administrar Flujos</h1>
{% endblock %}
{% block encabezado %}
<h1>{{flow_descripcion}}</h1>
<h3>Asignar actividades</h3>
{% endblock %}
{% block contenido %}
<form action="{% url 'apps:setactividadesmod' user_logged flow_id actv_id %}" method='post'>{% csrf_token %}
	<table>{{form}}</table>
	<input type="hidden" name="action" value="submit">
	<input type="submit" value="Guardar" name='submit'>
	<a href="{% url 'apps:listactivitiesmod' user_logged flow_id %}">Volver</a> 
</form>
{% endblock %}