{% extends 'base.html' %}

{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<h1>Product Backlog</h1>
{% endblock %}
{% block index %}
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>


		
	{%if misPermisos.PS == True %}
	<li>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}"><i class="fa fa-fw fa-edit"></i>Sprints</a>
	</li>
	{% endif %}
	
	{% if misPermisos.CUS or misPermisos.MUS or misPermisos.EUS %}
	<li>
		<a href="{% url 'apps:listhu' proyecto.id %}"><i class="fa fa-fw fa-edit"></i><font color="FFFFFF">Product Backlog</font></a>
	</li>	
	{% endif %}
	<!-- 
	{% if misPermisos.PS %}

	<li>
		<a href="{% url 'apps:listsprint' proyecto.id 0 %}"><i class="fa fa-fw fa-edit"></i>Sprint Backlog</a>
	</li>	

		
	{% endif %}
	 
	 -->
	
	{% if misPermisos.CRP or misPermisos.ERP or misPermisos.MRP %}

	<li>
		<a href="{% url 'apps:listrolesproj' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Roles</a>
	</li>

	
	{% endif %}
		
		
	{% if misPermisos.AFP %}
		<li>
			<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Flujos</a>
		</li>
	{% endif %}

	{%if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:verCliente' proyecto.id%}"><i class="fa fa-fw fa-edit"></i>Ver cliente</a>
	</li>
	{% endif %}
	
{% endblock %}

{% block contenido %}
{% if misPermisos.CUS %}
<a href="{% url 'apps:crearHu' proyecto.id %}">Nuevo User Story</a>
{% endif %}
<br />
<br />
	<!-- ################################################################################################## 
	{% if hu %}
		{% for h in hu %}
			
			<a href="{% url 'apps:editarHu' proyecto.id h.id %}">{{h.descripcion}}</a>
			
			<br>
		{% endfor %}
	{% else %}
	<p>No existe ningun User Story en la Base de Datos</p>
	{% endif %}
	 -->
	 <!-- ##################################################################################################
	 <hr>
	<h4>User Stories Activos</h4>
	{% if hu_activos %}
		{% for h in hu_activos %}
			<a href="{% url 'apps:editarHu' proyecto.id h.id %}">{{h.descripcion}}</a><br>
		{% endfor %}
	{% else %}
		<p>No existen User Stories Activos actualmente en el Proyecto</p>
	{% endif %}
	<hr>
	<h4>User Stories Planificados</h4>
	{% if hu_planificados %}
		{% for h in hu_planificados %}
			<a href="{% url 'apps:editarHu' proyecto.id h.id %}">{{h.descripcion}}</a><br>
		{% endfor %}
	{% else %}
		<p>No existen User Stories Planificados actualmente en el Proyecto</p> 
	{% endif %}
	<hr>
	<h4>User Stories No Planificados</h4>
	{% if hu_noplanificados %}
		{% for h in hu_noplanificados %}
			<a href="{% url 'apps:editarHu' proyecto.id h.id %}">{{h.descripcion}}</a><br>
		{% endfor %}
	{% else %}
		<p>No existen User Stories que no han sido Planificados en el Proyecto</p> 
	{% endif %}
	<hr>
	<h4>User Stories Terminados</h4>
	{% if hu_terminados %}
		{% for h in hu_terminados %}
			<a href="{% url 'apps:editarHu' proyecto.id h.id %}">{{h.descripcion}}</a><br>
		{% endfor %}
	{% else %}
		<p>No existen User Stories Terminados en el Proyecto</p>
	{% endif %}
	<hr>
	<h4>User Stories Descartados</h4>
	{% if hu_descartados %}
		{% for h in hu_descartados %}
			<a href="{% url 'apps:editarHu' proyecto.id h.id %}">{{h.descripcion}}</a><br>
		{% endfor %}
	{% else %}
		<p>No existen User Stories Descartados en el Proyecto</p>
	{% endif %}
	 -->
	 {% if hu %}
	 <table width=100%>
		 <tr>
		 	<td><b>Codigo</b></td><td><b>Nombre</b></td><td><b>Estado</b></td><td><b>Valor de Negocio</b></td><td><b>Valor Tecnico</b></td>
		 	<td><b>Prioridad</b></td><td><b>Fecha Creacion</b></td>
		 </tr>
		 
		 {% for h in hu %}
		 	<tr>
		 		<td>{{h.codigo}}</td>
		 		{% if scrum or user_logged.id == h.usuario_Asignado %}
			 		<td><a href="{% url 'apps:huprincipal' proyecto.id h.id %}">{{h.nombre}}</a><br></td>
			 	{% else %}
			 		<td>{{h.nombre}}<br></td>
			 	{% endif %}
		 		<td>{{h.estado_scrum}}</td>
		 		<!-- 
		 		{% if h.sprint == proyecto.nro_sprint and h.estado == True and h.finalizado == False %}
		 			<td>Activo</td>
		 		{% elif h.sprint > proyecto.nro_sprint and h.estado == True %}
		 			<td>Planificado</td>
		 		{% elif h.sprint == 0 and h.estado == True %}
		 			<td>No Planificado</td>
		 		{% elif h.estado == False %}
		 			<td>Eliminado</td>
		 		{% elif h.finalizado == True %}
		 			<td>Finalizado</td>
		 		{% else %}
		 			<td>No anda</td>
		 		{% endif %}
		 		 -->
		 		 <td>{{h.valor_Negocio}}</td>
		 		 <td>{{h.valor_Tecnico}}</td>
				<td>{{h.prioridad}}</td>
				<td>{{h.fecha_creacion}}</td>
			 	
		 	</tr>
		 {% endfor %}
	{% else %}
		<p>No existen registros de User Stories</p>
	{% endif %}
	 
	 
	 </table>
	
<br />	
{% endblock %}
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Atras</a>
{% endblock %}