{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}

{% block contenido %}

	<legend><h3><font color="#888888">Agregar Nota</font></h3></legend>
	{% if misPermisos.MUS %}
			
				
				
				<form action="{% url 'apps:agregarNotaHu' proyecto.id hu.id %}" method="post">
					{% csrf_token %}
							<table border=0px>
	
					<tr height=10px></tr>
					<tr>
						<td valign="center" width=150px><label><b>Nota:</b></label></td>
					</tr>
					<tr>
						<td><textarea name="descripcion" rows="10" cols="80" style="font-size:18px;"></textarea></td>
					</tr>
					<tr height=20px></tr>
				</table>
				
			
		

			 
			 
			{% if hu.estado == True %}
				<table width=100%>
					<tr height=10px></tr>
					<tr>
						<td align="left"><input style= "width:300px; float:center; "  type='submit' value='Guardar'/></td>
					</tr>
				</table>
			{% endif %}
		
		
		</form>
	
	{% endif %}
{% endblock %}

{% block atras %}
	<a href="{% url 'apps:notasHu' proyecto.id hu.id %}">Volver</a>
{% endblock %}