{% extends 'base.html' %}
{% block titulo %}
<h1>Administrar User Stories</h1>
{% endblock %}
{% block contenido %}
<a href="{% url 'apps:crearHu' proyecto_id %}">Nuevo User Story</a>
<br />
<br />	
{% if hu %}
	{% for h in hu %}
		<!-- <label>{{h.descripcion}}</label> -->
		<a href="{% url 'apps:editarHu' proyecto_id h.id %}">{{h.descripcion}}</a>
		<!-- </html><a href="{% url 'apps:eliminarHu' proyecto_id h.id %}">Eliminar</a><br /> -->
		<br>
	{% endfor %}
{% else %}
	<p>No existe ningun User Story en la Base de Datos</p>
{% endif %}
<br />	
{% endblock %}
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto_id %}">Atras</a>
{% endblock %}