{% extends 'base.html' %}
{% block titulo %}
	<h1>{{proyecto_nombre}}</h1>
{% endblock %}
{% block encabezado %}
	<h1>{{hu.descripcion}}</h1>
{% endblock %}
<h3>Editar HU</h3>
{% block index %}
	
	<h3>{{hu_descripcion}}</h3>
	{% if misPermisos.MUS %}
		
		{% if hu.estado == True %}
		<li>
			<a href="{% url 'apps:setEstadoHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Cambiar Estado</a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'apps:listhuversiones' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Historial</a>
		</li>
		<li>
			<a href="{% url 'apps:registroHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
		
	
	{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
	{% if misPermisos.MUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:fileAdjunto' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	{% endif %}
	<li>
		<a href="#"><i class="fa fa-fw fa-edit"></i>Versiones de Archivos</a>
	</li>
{% endblock %}

{% block contenido %}
	<legend>Versiones de archivos</legend>
	
	<table cellpadding=7 width=20%>
		<tr>
			<p><b></b></p>
		</tr>
		<UL type= disk> 
		<tr>
						
			<td><b>Archivo</b></td>
			<td><b>Version</b></td>
			
						
		</tr>	
		{% for f in lista %}	
		
		<tr>
						
			<td><LI><a href="{% url 'apps:send_file' f.id %}" title="Descargar">{{f.filename}}</a></td>
			<td><center><p>{{f.version}}</p></center></td>
			
						
		</tr>
		</UL>
		{% endfor %} 
	</table>
	
		
		
	
	
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:listhu' proyecto_id %}">Volver</a>
{% endblock %}