{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto_nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}
<h3>Editar HU</h3>
{% block index %}
	
	
	{% if misPermisos.MUS %}
		<li>
		<a href="{% url 'apps:accionesproyecto' proyecto_id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto_nombre}}</a>
	</li>
	
		<li>
              <a href="{% url 'apps:editarHu' proyecto_id hu_id %}"></i><font color="FFFFFF">{{hu.codigo}} {{hu.nombre}}</font></a>          
        </li>	
		
		{% if hu.estado == True %}
		<li>
			<a href="{% url 'apps:setEstadoHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i> Cambiar Estado</a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'apps:listhuversiones' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Versiones</a>
		</li>
		<li>
			<a href="{% url 'apps:registroHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
	
	

	<li>
		<a href="{% url 'apps:fileAdjunto' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	<li>
		<a href="{% url 'apps:versionesAdjunto' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Versiones de Archivos</a>
	</li>
		{% if misPermisos.MUS %}
	<li>
		<a href="{% url 'apps:notasHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Notas</a>
	</li>
	{% endif %}
		{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
{% endblock %} 	

{% block contenido %}
	<legend><font color="#888888">Versiones de archivos</font></legend>
	
	<table cellpadding=7 width=20%>
		<tr>
			<p><b></b></p>
		</tr>
		<UL type= disk> 
		<tr>
						
			<td><b>Archivo</b></td>
			<td><b>Version</b></td>
			
						
		</tr>	
		{% for f in lista %}	
		
		<tr>
						
			<td><LI><a href="{% url 'apps:send_file' f.id %}" title="Descargar">{{f.filename}}</a></td>
			<td><center><p>{{f.version}}</p></center></td>
			
						
		</tr>
		</UL>
		{% endfor %} 
	</table>
	
		
		
	
	
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:fileAdjunto' proyecto_id hu_id %}">Volver</a>
{% endblock %}