{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto_nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}
<h3>Editar HU</h3>
{% block index %}
	
	
	{% if misPermisos.MUS %}
		<li>
		<a href="{% url 'apps:accionesproyecto' proyecto_id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto_nombre}}</a>
	</li>
	
		<li>
              <a href="{% url 'apps:huprincipal' proyecto_id hu_id %}"></i><font color="FFFFFF">{{hu.codigo}} {{hu.nombre}}</font></a>          
        </li>	
		
		<!-- 
		{% if  hu.sprint == proyecto.nro_sprint and misPermisos.CEUS %}
		<li>
              <a href="{% url 'apps:setEstadoHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i> Cambiar Estado</a>          
        </li>			
		{% endif %}
		<li>
			<a href="{% url 'apps:listhuversiones' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Versiones</a>
		</li>
		<li>
			<a href="{% url 'apps:registroHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
	
	

	<li>
		<a href="#"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	<li>
		<a href="{% url 'apps:versionesAdjunto' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Versiones de Archivos</a>
	</li>
		
	{% if misPermisos.MUS %}
	<li>
		<a href="{% url 'apps:notasHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Notas</a>
	</li>
	{% endif %}
		{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
	 -->
{% endblock %}
<br/>

{% block contenido %}
	<form enctype="multipart/form-data" action="{% url 'apps:fileAdjunto' proyecto_id hu_id %}" method="post" >
		{% csrf_token %}
		
			<legend><font color="#888888">Adjuntar archivo</font></legend>
			
				<table>
					<tr>
						
						<td><input type="file" value="file2" name= "file"required/></td>
						<td><input type="submit" value="Guardar" /> <label style="color: red; font-size: 12pt">{{msg}}</label></td>
					</tr>
					<tr> <td><i>Limite 10 MB</i><td></tr>
				</table>
	
	</form>
	</br>
	<table width=50%>
		
		
		<tr>
						
			<td><b>Archivo</b></td>
			<td><b>Version</b></td>
			<td><b>Eliminar</b></td>
						
		</tr>	
		{% for f in lista %}	
		<UL type= disk> 
		<center>
		
					
			<td><LI><a href="{% url 'apps:send_file' f.id %}" title="Descargar">{{f.filename}}</a></td>
			<td>&nbsp&nbsp&nbsp{{f.version}}</td>
			<td><a href="{% url 'apps:delete_file'  proyecto_id hu_id f.id %}" title="Eliminar archivo"> <i>&nbsp&nbsp&nbspx</i></a></td>
						
		</tr>
		
		</UL>
		{% endfor %} 
	</table>
	
		
		
	
	
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:huprincipal' proyecto_id hu.id %}">Volver</a>
{% endblock %}
