{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}

{% block index %}
	<!-- <a href="{% url 'apps:editarHu' proyecto_id hu_id %}">Modificar Campos</a><br/> -->
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto_id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>
	
		<li>
              <a href="{% url 'apps:editarHu' proyecto_id hu.id %}"></i><font color="FFFFFF">{{hu.codigo}} {{hu.nombre}}</font></a>          
        </li>	
	{% if misPermisos.MUS %}
		{% if hu.estado == True and hu.sprint != 0 %}
		<li>
              <a href="{% url 'apps:setEstadoHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i> Cambiar Estado</a>          
        </li>			
		{% endif %}
		<li>
		
		<a href="{% url 'apps:listhuversiones' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Versiones</a>
		</li>
		
		<li>
			<a href="{% url 'apps:registroHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
	

	{% if misPermisos.MUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:fileAdjunto' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	{% endif %}
	
	{% if misPermisos.MUS %}
	<li>
		<a href="{% url 'apps:notasHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Notas</a>
	</li>
	{% endif %}
	{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
{% endblock %}


{% block contenido %}
	<legend><font color="#888888">Versiones del User Story</legend></font>
	<br>
	{% if hu_versiones %}
		<table border=1px width=99%>
					<tr ><td>Fecha</td><td>Usuario</td><td>Version</td><td>Accion</td></tr>
					{% for h in hu_versiones %}
						<tr><td>{{h.fechahora}}</td><td>{{h.usercambio}}</td><td align="center">{{h.version}}</td>
							<td><p>Se ha modificado <a href="{% url 'apps:huvcambios' proyecto_id hu_id h.id %}">Ver cambios</a></p></td>
						</tr>
					{% endfor %}
		</table>
	{% endif %}
{% endblock %}
{% block atras %}
<a href="{% url 'apps:editarHu' proyecto_id hu_id %}">Atras</a>
{% endblock %}
<ul>
				
				</table>
				{% if hu.estado == False %}
					<p>Se ha eliminado el User Story el {{h.fechahora}}</p><a href="{% url 'apps:huvcambios' proyecto_id hu_id h.id %}">Ver cambios</a>	
				{% else %}
					<p>Se ha modificado el User Story el {{h.fechahora}}</p><a href="{% url 'apps:huvcambios' proyecto_id hu_id h.id %}">Ver cambios</a>
				{% endif %}
			</ul>
