{% extends 'base.html' %}
{% block titulo %}
	<h1>{{proyecto_nombre}}</h1>
{% endblock %}
{% block encabezado %}
	<h1>{{hu_descripcion}}</h1>
{% endblock %}
<h3>Editar HU</h3>
{% block index %}
	<!-- <a href="{% url 'apps:editarHu' proyecto_id hu_id %}">Modificar Campos</a><br/> -->
	<h3>{{hu_descripcion}}</h3>
	{% if misPermisos.MUS %}
		<!-- <a href="{% url 'apps:userToHU' proyecto_id hu_id %}">Asignar Usuario</a><br/> -->
		<!-- <a href="{% url 'apps:listhuflujo' proyecto_id hu_id %}">Asignar Flujo</a><br /> -->
		{% if hu.estado == True %}
			<a href="{% url 'apps:setEstadoHu' proyecto_id hu_id  %}">Cambiar Estado</a><br />
		{% endif %}
		<br>
		<a href="{% url 'apps:listhuversiones' proyecto_id hu_id  %}">Historial</a><br />
	{% endif %}
	<!--<a href='assignSprint'>Asignar Sprint</a><br />
	  a href='assignPriority'>Asignar Prioridad</a><br/>
	<a href="">Asignar Valor Tecnico</a><br>
	<a href="">Asignar Valor de Negocio</a><br> -->
	<br>
	{% if misPermisos.EUS and hu.estado == True %}
		<a href="{% url 'apps:eliminarHu' proyecto_id hu_id %}">Eliminar User Story</a><br />
	{% endif %}
	
{% endblock %}
<br/>

{% block contenido %}
	{% if misPermisos.MUS %}
		{% if hu.sprint == 0 %}
			<table>
				<tr>
				<td><h4>Sprint:</h4></td>
				<td>El User Story aun no se ha planificado</td>
				</tr>
			</table>
			
		{% else %}
			<h4> Sprint: {{hu.sprint}}</h4>
		{% endif %}
		<form action="{% url 'apps:editarHu' proyecto_id hu_id %}" method="post">
			{% csrf_token %}
			<table>{{form}}</table>
			<b>Usuario Asignado:</b>
			<select name="us"  style="width:190px" sort = true>
					{% for user in users %}
						{% if user.id == hu.usuario_Asignado %}
							<option selected="selected">{{user.username}}</option>
						{% else %}
							 <option>{{user.username}}</option>
							
						{% endif %}
					{% endfor %} 
			</select><br>
			<b>Flujo Asignado</b>&emsp;&emsp;
			<select name="flujo"  style="width:190px" sort = true>
					{% for f in flujos %}
						{% if f.id == hu.flujo %}
							<option selected="selected">{{f.descripcion}}</option>
						{% else %}
							<option >{{f.descripcion}}</option>
						{% endif %}
					{% endfor %} 
			</select><br>
			<!-- <input type="hidden" name="flujo" value="{{f.descripcion}}" /> -->
			<b>Prioridad</b>&emsp;&emsp;&emsp;&emsp;&emsp;
			<select name="pri"  style="width:190px" sort = true>
					{% for pr in prioridades %}
						{% if pr.id == hu.prioridad_id %}
							<option selected="selected">{{pr.descripcion}}</option>
						{% else %}
							<option >{{pr.descripcion}}</option>
						{% endif %}
					{% endfor %} 
			</select><br>
			
			<br>
			{% if hu.estado == True %}
				<input type='submit' value='Guardar'/>
			{% endif %}
		
		
		</form>
	{% endif %}
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:listhu' proyecto_id %}">Volver</a>
{% endblock %}