{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}

{% block contenido %}
	<legend><font color="888888">Registro de Actividades</font></legend>

	<table border=0px bordercolor="green" width=100%>
		
		<tr>
			<td width=20%><b>Tarea:</b></td>
			<td>{{hu_reg.descripcion_tarea}}</td></tr>
			<tr><td><b>Horas Registradas:</b></td>
			<td>{{hu_reg.tiempo_Real}}</td></tr>
	</table>
	<br>
	<table border=0px bordercolor="green" width=100%>
	
			<tr><td width = 20%><b>Sprint:</b></td>
			{% if hu_reg.sprint == 0 %}
				<td>No asignado</td>
			{% else %}
				<td>{{hu_reg.sprint}}</td>
			{% endif %}
			</tr>
			<tr><td><b>Flujo:</b></td><td>{{flujo}}</td></tr>
			<tr><td><b>Actividad en Flujo:</b></td><td>{{actividad}}</td></tr>
			<tr><td><b>Estado en Actividad:</b></td><td>{{estado}}</td></tr>
		
	
	</table>
	
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:registroHu' proyecto.id hu_reg.idr  %}">Volver</a>
{% endblock %}