{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}


{% block index %}
	
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>
	
		<li>
              <a href="{% url 'apps:huprincipal' proyecto.id hu.id %}"></i><font color="FFFFFF">{{hu.codigo}} {{hu.nombre}}</font></a>          
        </li>	
	<!-- 
	{% if misPermisos.MUS %}
		{% if  hu.sprint == proyecto.nro_sprint and userasig %}
		<li>
              <a href="{% url 'apps:setEstadoHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i> Cambiar Estado</a>          
        </li>			
		{% endif %}
		<li>
		
		<a href="{% url 'apps:listhuversiones' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Versiones</a>
		</li>
		
		<li>
			<a href="{% url 'apps:registroHu' proyecto_id hu_id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
	

	{% if misPermisos.MUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:fileAdjunto' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	{% endif %}
	
	{% if misPermisos.MUS %}
	<li>
		<a href="{% url 'apps:notasHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Notas</a>
	</li>
	{% endif %}
	
	{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
	
	{% if misPermisos.MUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:hulog' proyecto_id hu_id %}"><i class="fa fa-fw fa-edit"></i>Log</a>
	</li>
	{% endif %}
	 -->
	
{% endblock %}

{% block contenido %}
	
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
		<table>
			<tr>
				<td><label>Horas Trabajadas:</label> </td>
				<td><input id="campo1" name="tiempo_real" type="number" size="20" maxlength="20" autofocus="autofocus" style="width:190px" required/></td>
			</tr>
	
		</table>
		</br><label>Descripción de la Actividad</label>
			<br><textarea name="descripcion_tarea" rows="10" cols="100"></textarea></br>
		
		<br><input id="campo5" name="crear" type="submit" value="Crear Registro" />
		
	
	</fieldset>
		
	</form>
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:registroHu' proyecto.id hu.id  %}">Volver</a>
{% endblock %}