{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}
{% block index %}
	<!-- <a href="{% url 'apps:editarHu' proyecto.id hu.id %}">Modificar Campos</a><br/> -->
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>
	
		<li>
              <a href="{% url 'apps:editarHu' proyecto.id hu.id %}"></i><font color="FFFFFF">{{hu.codigo}} {{hu.nombre}}</font></a>          
        </li>	
	{% if misPermisos.MUS %}
		{% if hu.estado == True and hu.sprint != 0 %}
		<li>
              <a href="{% url 'apps:setEstadoHu' proyecto.id hu.id  %}"><i class="fa fa-fw fa-edit"></i> Cambiar Estado</a>          
        </li>			
		{% endif %}
		<li>
		
		<a href="{% url 'apps:listhuversiones' proyecto.id hu.id  %}"><i class="fa fa-fw fa-edit"></i>Versiones</a>
		</li>
		
		<li>
			<a href="{% url 'apps:registroHu' proyecto.id hu.id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
	

	{% if misPermisos.MUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:fileAdjunto' proyecto.id hu.id %}"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	{% endif %}
	
	{% if misPermisos.MUS %}
	<li>
		<a href="{% url 'apps:notasHu' proyecto.id hu.id %}"><i class="fa fa-fw fa-edit"></i>Notas</a>
	</li>
	{% endif %}
	{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto.id hu.id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
{% endblock %}

{% block contenido %}
	<legend><font color="888888">Registro de Actividades</font></legend>
	{% if guardado %}
		<table border=1 bordercolor="green" width=100%>
			<tr><td align="center"><font color="green"><p>Mensaje: El registro se ha guardado correctamente.</p></font></td></tr>
		</table>
	{% endif %}
	<br>
	<!-- Pero debe ser: Si el User Story esta "Iniciado" entonces se pueden sumar las horas -->
	{% if hu.estado_scrum_id == 1 %}
		<a href="{% url 'apps:crearregistroHu' proyecto.id hu.id %}">Nuevo Registro</a>
	{% endif %}
	<br>
	<!-- {% if hu_reg %}
		<table width=100%>
			<tr>
				<td width=20%><b>Codigo</b></td><td width=20%><b>Descripcion</b></td><td width=60%><b>Descripcion Tarea</b></td>
			</tr>
			{% for reg in hu_reg %}
				<tr>
					<td>{{reg.codigo}}</td>
					<td>{{reg.descripcion}}</td>
					<td>{{reg.descripcion_tarea}}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No existe ningun Registro de Actividades del User Story</p>
	{% endif %} -->
	<br>
	{% if hu_reg %}
		<table width=100% bordercolor="green" border=1px>
			<tr><td width=70% align="center"><b>Actividad</b></td><td align="center"><b>Fecha</b></td></tr>
			{% for reg in hu_reg %}
				<tr>
					<td><p><h3><a href="{% url 'apps:verregistroHu' proyecto.id reg.id %}">{{reg.descripcion_tarea}}</h3></a><br>
						<small>Horas Registradas: {{reg.tiempo_Real}}</small></p>
						
					</td>
					<td align="center">{{reg.fechahora}}</td>
				</tr>
				
			{% endfor %}
		</table>
	{% else %}
	 	<p>No existe ningun Registro de Actividades del User Story</p>
	{% endif %}
	
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:editarHu' proyecto.id hu.id %}">Volver</a>
{% endblock %}