{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
	<table>
		<tr>
		
			<td width=125px><h2><font color="#686868">{{hu.codigo}}</font></h2></td>
			<td ><h2>{{hu.nombre}}</h2></td>
		</tr>
	</table>
{% endblock %}

{% block index %}
	<!-- <a href="{% url 'apps:editarHu' proyecto.id hu.id %}">Modificar Campos</a><br/> -->
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>
	
		<li>
              <a href="{% url 'apps:huprincipal' proyecto.id hu.id %}"></i><font color="FFFFFF">{{hu.codigo}} {{hu.nombre}}</font></a>          
        </li>	
        <!-- 
	{% if misPermisos.MUS %}
		{% if hu.estado == True and hu.sprint != 0 %}
		<li>
              <a href="{% url 'apps:setEstadoHu' proyecto.id hu.id  %}"><i class="fa fa-fw fa-edit"></i> Cambiar Estado</a>          
        </li>			
		{% endif %}
		<li>
		
		<a href="{% url 'apps:listhuversiones' proyecto.id hu.id  %}"><i class="fa fa-fw fa-edit"></i>Versiones</a>
		</li>
		
		<li>
			<a href="{% url 'apps:registroHu' proyecto.id hu.id  %}"><i class="fa fa-fw fa-edit"></i>Registros</a>
		</li>
	{% endif %}
	

	{% if misPermisos.MUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:fileAdjunto' proyecto.id hu.id %}"><i class="fa fa-fw fa-edit"></i>Archivos Adjuntos</a>
	</li>
	{% endif %}
	
	{% if misPermisos.MUS %}
	<li>
		<a href="{% url 'apps:notasHu' proyecto.id hu.id %}"><i class="fa fa-fw fa-edit"></i>Notas</a>
	</li>
	{% endif %}
	{% if misPermisos.EUS and hu.estado == True %}
	<li>
		<a href="{% url 'apps:eliminarHu' proyecto.id hu.id %}"><i class="fa fa-fw fa-edit"></i>Eliminar User Story</a>
	</li>
	{% endif %}
	-->
{% endblock %}


{% block contenido %}
	<legend><font color="#888888">Cambiar Estado</font></legend>
	{% if hu.finalizado and hu.estado_scrum.id != 5 %}
		<h4><font color="#FF0000">El User Story esta actualmente en revision</font></h4>
	{% elif hu.estado_scrum.id == 5 %}
		<h4><font color="#50A850">El User Story ha Finalizado</font></h4>
	{% endif %}
	<br>
	{% if misPermisos.MUS %}
		<form action="{% url 'apps:setEstadoHu' proyecto.id hu.id %}" method="post">
			{% csrf_token %}
			<b>Flujo Asignado</b>&emsp;&emsp;
			<p>{{flujo_descripcion}}</p>
			<table border=0px>
				<tr>
					<td width=200><b>Actividad Actual</b></td>
					{% if hu.finalizado == True and hu.usuario_Asignado == user_logged %}
						<td width=100>
						<select disabled name="act"  style="width:190px;" sort = true>
								{% for actividad in actividades %}
									{% if hu.f_actividad == forloop.counter %}
										<option selected="selected">{{actividad.descripcion}}</option>
									{% else %}
										<option>{{actividad.descripcion}}</option>
									{% endif %}
								{% endfor %} 
						</select>
						</td>
					{% elif hu.estado_scrum.id == 5 %}
						<td width=100>
						<select disabled name="act"  style="width:190px;" sort = true>
								{% for actividad in actividades %}
									{% if hu.f_actividad == forloop.counter %}
										<option selected="selected">{{actividad.descripcion}}</option>
									{% else %}
										<option>{{actividad.descripcion}}</option>
									{% endif %}
								{% endfor %} 
						</select>
						</td>
					{% else %}
						{% if hu.f_a_estado == 3 %}
						<td width=100>
							<select name="act"  style="width:190px" sort = true>
									{% for actividad in actividades %}
										{% if hu.f_actividad == forloop.counter %}
											<option selected="selected">{{actividad.descripcion}}</option>
										{% else %}
											<option>{{actividad.descripcion}}</option>
										{% endif %}
									{% endfor %} 
							</select>
						</td>
						{% else %}
							{% for actividad in actividades %}
								{% if hu.f_actividad == forloop.counter %}
									<td width=300>{{actividad.descripcion}}</td>
								{% endif %}
							{% endfor %} 
						<select name="act"  style="width:190px; visibility:hidden" sort = true>
								{% for actividad in actividades %}
									{% if hu.f_actividad == forloop.counter %}
										<option selected="selected">{{actividad.descripcion}}</option>
									{% else %}
										<option>{{actividad.descripcion}}</option>
									{% endif %}
								{% endfor %} 
						</select>
						{% endif %}
					{% endif %}
				</tr>
				<tr>
					<td><b>Estado:</b></td>
					{% if hu.finalizado and hu.usuario_Asignado == user_logged %}
						<td>
						<select disabled name="est"  style="width:190px;" sort = true  >
								{% for e in estados %}
									{% if e.id == hu.f_a_estado %}
										<option selected="selected">{{e.descripcion}}</option>
									{% else %}
										<option >{{e.descripcion}}</option>
									{% endif %}
								{% endfor %} 
						</select>
						</td>
					{% elif hu.estado_scrum.id == 5 %}
						<td>
						<select disabled name="est"  style="width:190px;" sort = true  >
								{% for e in estados %}
									{% if e.id == hu.f_a_estado %}
										<option selected="selected">{{e.descripcion}}</option>
									{% else %}
										<option >{{e.descripcion}}</option>
									{% endif %}
								{% endfor %} 
						</select>
						</td>
					{% else %}
						{% if estados %}
						<td>
						<select name="est"  style="width:190px;" sort = true  >
								{% for e in estados %}
									{% if e.id == hu.f_a_estado %}
										<option selected="selected">{{e.descripcion}}</option>
									{% else %}
										<option >{{e.descripcion}}</option>
									{% endif %}
								{% endfor %} 
						</select>
						</td>
						{% else %}
							<td>{{estados.descripcion}}</td>
						{% endif %}
					{% endif %}
				</tr>
			</table>
			{% if hu.finalizado == True and hu.usuario_Asignado == user_logged %}
				<input disabled type='submit' value='Guardar' name='submit'/>
			{% elif hu.estado_scrum.id == 5 %}
				<input disabled type='submit' value='Guardar' name='submit'/>
			{% else %}
				<input type='submit' value='Guardar' name='submit'/>
			{% endif %}	
			{% if finalizar and hu.finalizado == False %}
				<input type='submit' value='Finalizar' name='submit'/>
			{% endif %}
		
		
		</form>
		{% if modificado %}
			<p>Los cambios se han guardado correctamente</p>
		{% endif %}
	{% endif %}
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:huprincipal' proyecto.id hu.id %}">Atras</a>
{% endblock %}