<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8" /> 
    <title>
        SGPA
    </title>
    <link rel="stylesheet" type="text/css" href="/var/www/static/style.css" />
</head>
<body>

<form action="{% url 'apps:ingresar' %}" id='formulario' method='post'>
{% csrf_token %}
  <h1>SGPA - Acceso al sistema</h1>
  <div class="inset">
    {{formulario}}
			
  <p class="p-container">
    <span><a href="recuperarContrasena/">Recuperar contraseña    </a></span>
    <input type="submit" name="go" id="go" value="Log in">
  </p>   
</form>

</body>
</html>