{% extends 'base.html' %}
{% block titulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block contenido %}

<center>

	<h1>Proyecto creado correctamente</h1>
	<h2>Resumen</h2>
	<table border=10 cellspacing=1 cellpadding=15 bordercolor="green">
		<tr>
			<td><strong>Nombre proyecto: </td><td>{{proyecto.nombre}}</td>
		</tr>
	
		<tr>
			<td><strong>Fecha inicio: </strong> </td><td>{{proyecto.fecha_ini}}</td>
		</tr>
	
		<tr>
			<td><strong>Fecha estimada de fin: </strong> </td><td>{{proyecto.fecha_est_fin}}</td>
		</tr>
	
		<tr>
			<td><strong>Descripción: </strong> </td><td><p>{{proyecto.descripcion}}</p></td>
		</tr>
	
		<tr>
			<td><strong>Observaciones: </strong> </td><td>{{proyecto.observaciones}}</td>
		</tr>
	
		<tr>
			<td><strong>Scrum Master: </strong> </td><td>{{scrum.username}}</td>
		</tr>
		
		<tr>
			<td><strong>Cliente: </strong> </td><td>{{cli.username}}</td>
		</tr>
	
		<tr>
			<td><strong>Nombre de plantilla: </strong> </td><td>{{copyFlujo.descripcion}}</td>
		</tr>
	
					
	</table>
	
	
	<br></br>
	<a href="{% url 'apps:adminproject' user_logged %}">Volver al Menu</a><br />

</center>

{% endblock %}
{% block atras %}
	<a href="{% url 'apps:adminproject' user_logged %}">Atras</a>
{% endblock %}