<h1><b>{{proyecto.nombre}}</b></h1>
<h2><b>Sprints</b></h2><br />
<h3><b>Sprint actual: Sprint Numero {{proyecto.sprint}}</b></h3><br />
{% if sprints %}
	{% for s in sprints %}
		<div style="clear:both">
			<form action="{% url 'apps:sprints' proyecto.id s.id 0 %}" method="post">{% csrf_token %}
				<br><label>Sprint Numero {{s.nro_sprint}}</label>&emsp;<input type="submit", name="cambio", value="Mostrar">&emsp;<input type="submit", name="cambio", value="Ocultar">
			</form>
			{% if sprint.id == s.nro_sprint %}
				{% if formularios %}
					<div style="float:left">
						<ul>
							{% for formulario in formularios %}
								{% if formulario.tiempo_estimado.value == 0 %}
									<li>
										<form action="{% url 'apps:sprints' proyecto.id s.id forloop.counter %}" method="post">{% csrf_token %}
											<label>{{formulario}}</label><input type="submit", name="cambio", value="Modificar">
										</form>
									</li>
								{% else %}
									<li>
										<form action="{% url 'apps:sprints' proyecto.id s.id forloop.counter %}" method="post">{% csrf_token %}
											<label><h4>Tiempo estimado:&emsp;&emsp;{{formulario.tiempo_estimado.value}} horas</h4></label>
										</form>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% if tiempos_reales %}
					<div style="float:left">
						<ul>
							{% for tiempo_real in tiempos_reales %}
								<li>
									<form action="{% url 'apps:sprints' proyecto.id s.id forloop.counter %}" method="post">{% csrf_token %}
										<label><h4>Tiempo Real:&emsp;&emsp;{{tiempo_real.tiempo_real}} horas</h4></label>
									</form>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endif %}
		</div>
	{% endfor %}
{% endif %}
<div style="clear:both">
<br />
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Volver</a>
</div>