{% extends 'base.html' %}
{% block encabezado %}
	<h1>{{proyecto.nombre}}</h1>
	<h2>Planificacion del Sprint {{sprint.nro_sprint}}</h2>
{% endblock %}
<br />
{% block contenido %}
	<div style="float: left;">
		<h3>User Stories&emsp;&emsp;&emsp;&emsp;&emsp;</h3>
		{% if hus %}
			<ul>
				{% for hu in hus %}
					{% if hu.sprint != sprint.nro_sprint %}
						<form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %}
						<li>
								<input type="checkbox" name="hus[]" id="option{{hu.id}}" value={{hu.id}} />
								<label for="option{{hu.id}}"><b>{{hu.codigo}}
								{% if hu.estado_scrum_id == 2 %}
									&emsp;Asignado al sprint {{hu.sprint}}
								{% elif hu.estado_scrum_id == 3 %}
									&emsp;No Asignado
								{% elif hu.estado_scrum_id == 4 %}
									&emsp;Pendiente
								{% endif %}
						</li>
						
							<font size="1">Detalles</font><input type="submit", name="cambio", value=" + "><input type="submit", name="cambio", value=" - "></b></label><br /><br />
						
						{% if userStory.id == hu.id %}
							<table>
								<font size="3"><b>Descripcion:</b></font>&emsp;{{detalles.descripcion.value}}<br />
								<font size="3"><b>Codigo:</b></font>&emsp;{{detalles.codigo.value}}<br /><br />
								<font size="3"><b>Tiempo Estimado:</b></font>&emsp;{{detalles.tiempo_Estimado.value}}<br />
								<font size="3"><b>Tiempo Consumido por el User Story:</b></font>&emsp;{{tiempo_hu_registrado}}<br /><br />
								<font size="3"><b>Valor Negocio:</b></font>&emsp;{{detalles.valor_Negocio.value}}<br />
								<font size="3"><b>Valor Tecnico:</b></font>&emsp;{{detalles.valor_Tecnico.value}}<br />
							</table>
							<table>
								<font size="3"><b>Prioridad:</b></font>&emsp;{{prioridad.descripcion}}<br /><br />
								<font size="3"><b>Usuario Asignado:</b></font>&emsp;{{usuario.username}}<br /><br />
								<font size="3"><b>fecha de creacion:</b></font>&emsp;{{hu.fecha_creacion}}<br />
								<font size="3"><b>fecha de inicio:</b></font>&emsp;{{hu.fecha_inicio}}<br />
								<font size="3"><b>Ultima fecha de modificacion:</b></font>&emsp;{{hu.fecha_modificacion}}<br /><br />
								<font size="3"><b>Flujo Asignado:</b></font>&emsp;{{flujo.descripcion}}<br />
								<font size="3"><b>Actividad:</b></font>&emsp;{{f_actividad}}<br />
								<font size="3"><b>Estado de la actividad:</b></font>&emsp;{{f_a_estado.descripcion}}<br /><br />
								{% if hu.finalizado %}
									<font size="3"><b>Estado segun el usuario Asignado:</b></font>&emsp;hu.Finalizado<br />
								{% endif %}
							</table>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div style="float: left; width:300px">
			<center>
				<input type="submit" name="cambio" value="Asignar User Stories"/><br /><br />
				<a href="{% url 'apps:sprints' proyecto.id 0 0 %}">Hecho</a>
			</center>
						</form>
	</div>
	<div style="float: left;">
		<center>
			<h3>User Stories del Sprint {{sprint.nro_sprint}}</h3>
		</center>
		{% if hus %}
			<ul>
				{% for hu in hus %}
					{% if hu.sprint == sprint.nro_sprint %}	
						<li>
							<form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %}
								<b>
								{% if sprint.estado == 0 %}
									<input type="submit", name="cambio", value="x">
								{% endif %}
								<font size="2">&emsp;HU {{hu.codigo}}</font>&emsp;<font size="1">Detalles</font><input type="submit", name="cambio", value=" + "><input type="submit", name="cambio", value=" - "></b><br />
							</form>
							{% if userStory.id == hu.id %}
								<br />
								<form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %}
									<table>
										<font size="2"><b>Descripcion:</b></font>&emsp;{{detalles.descripcion.value}}<br />
										<font size="2"><b>Codigo:</b></font>&emsp;{{detalles.codigo.value}}<br />
										<font size="2"><b>Tiempo Estimado:</b></font>&emsp;{{detalles.tiempo_Estimado}}<br />
										<font size="2"><b>Valor Negocio:</b></font>&emsp;{{detalles.valor_Negocio}}<br />
										<font size="2"><b>Valor Tecnico:</b></font>&emsp;{{detalles.valor_Tecnico}}<br />
									</table>
									<b><font size="2">Usuario Asignado:</font></b>
									<select name="us"  style="width:190px" sort = true>
										{% if usuario %}
											<option>{{usuario.username}}</option>
											{% for user in users %}
												{% if usuario.id != user.id %}
													<option >{{user.username}}</option>
												{% endif %}
											{% endfor %}
										{% else %}
	 										{% for user in users %}
												<option >{{user.username}}</option>
											{% endfor %} 
										{% endif %}
									</select><br>
									{% if sprint.estado == 0 %}									
										<b><font size="2">Flujo Asignado</font></b>&emsp;&emsp;
										<select name="flujo"  style="width:190px" sort = true>
											{% if flujo %}
												<option>{{flujo.descripcion}}</option>
												{% for f in flujos %}
													{% if flujo.id != f.id %}
														<option >{{f.descripcion}}</option>
													{% endif %}
												{% endfor %} 
											{% else %}
												{% for f in flujos %}
													<option >{{f.descripcion}}</option>
												{% endfor %} 
											{% endif %}
										</select><br>
									{% elif scrum.rol_id == 3 and sprint.estado == 1 and hu.estado_scrum_id == 2 %}
										<b><font size="2">Flujo Asignado</font></b>&emsp;&emsp;
										<select name="flujo"  style="width:190px" sort = true>
											{% if flujo %}
												<option>{{flujo.descripcion}}</option>
												{% for f in flujos %}
													{% if flujo.id != f.id %}
														<option >{{f.descripcion}}</option>
													{% endif %}
												{% endfor %} 
											{% else %}
												{% for f in flujos %}
													<option >{{f.descripcion}}</option>
												{% endfor %} 
											{% endif %}
										</select><br>										
									{% endif %}
									<b><font size="2">Prioridad</font></b>&emsp;&emsp;&emsp;&emsp;&emsp;
									<select name="pri"  style="width:190px" sort = true>
										{% if prioridad %}
											<option>{{prioridad.descripcion}}</option>
											{% for pr in prioridades %}
												{% if prioridad.id != pr.id %}
													<option >{{pr.descripcion}}</option>
												{% endif %}
											{% endfor %}
										{% else %}
											{% for pr in prioridades %}
												<option >{{pr.descripcion}}</option>
											{% endfor %}
										{% endif %} 
									</select><br>
									<input type="submit" name="cambio" value="Modificar " />
								</form>
								<br />
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:sprints' proyecto.id 0 0 %}">Volver</a>
{% endblock %}