{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
<h1>Flujos</h1>
{% endblock %}


{% block index %}
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>


		
	{%if misPermisos.PS == True %}
	<li>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}"><i class="fa fa-fw fa-edit"></i>Sprints</a>
	</li>
	{% endif %}
	
	{% if misPermisos.CUS or misPermisos.MUS or misPermisos.EUS %}
	<li>
		<a href="{% url 'apps:listhu' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Product Backlog</a>
	</li>	
	{% endif %}
	<!-- 
	{% if misPermisos.PS %}

	<li>
		<a href="{% url 'apps:listsprint' proyecto.id 0 %}"><i class="fa fa-fw fa-edit"></i>Sprint Backlog</a>
	</li>	

		
	{% endif %}
	 
	 -->
	
	{% if misPermisos.CRP or misPermisos.ERP or misPermisos.MRP %}

	<li>
		<a href="{% url 'apps:listrolesproj' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Roles</a>
	</li>

	
	{% endif %}
		
		 
	<li>
		<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}"><i class="fa fa-fw fa-edit"></i><font color="#FFFFFF">Flujos</font></a>
	</li>
	

	{%if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:verCliente' proyecto.id%}"><i class="fa fa-fw fa-edit"></i>Ver cliente</a>
	</li>
	{% endif %}
	
	{% if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:reportes' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Reportes</a>
	</li>
	{% endif %}
	
	{% if misPermisos.VP %}
		<li>
			<a href="{% url 'apps:projectDetalles' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Detalles del Proyecto</a>
		</li>
	{% endif %}
	
{% endblock %}
{% block contenido %}

{% if eliminado == True %}
	<table border="1" bordercolor="green" width=100% align="center" >
		<tr><td align="center"><p><font color="green">Mensaje: El flujo se ha eliminado con exito</font></p></td></tr>
	</table>
{% endif %}
{% if proyecto.estado_id != 5 %}
	<br><a href="{% url 'apps:listflujosproyectos' proyecto.id %}">Asignar Nuevo Flujo</a><br />
{% endif %}

<table border="0" frame="lhs" borderstyle= "doble" cellspacing=2 cellpadding=20 bordercolor="green" width=50%>	
	{% for f in flujos_permitidos %}
		<tr>
			<td>
				<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width=100%>
					<tr>
						<strong>{{f.descripcion}}</strong>
					</tr>
					<tr>
						{% if actividades %}
							{% for actividad in actividades %}
								{% if actividad.flujo_id == f.id%}
									<td width=10%>{{actividad.descripcion}}</td>
								{% endif %}
							{% endfor %}
						{% else %}
							<td colspan="3">Sin Actividades</td>
						{% endif %}
					<tr>
				</table>
			</td>
			{% if proyecto.estado_id != 5 %}
				<td align="right" height=50px valign="bottom">
					<br><a href="{% url 'apps:flujosproyectosRequestMod' proyecto.id f.id 0 %}">Modificar</a><br />
				</td>
				<td align="right" valign="bottom">
					<br><a href="{% url 'apps:flowdeleteproj' proyecto.id f.id %}">Eliminar</a><br />
				</td>
			{% endif %}
		</tr>
		<tr height=20px></tr>
	{% endfor %} 
	{% for f in flujos_no_permitidos %}
		<tr>
			<td>
				<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width=100%>
					<tr>
						<strong>{{f.descripcion}}</strong>
					</tr>
					<tr>
						{% if actividades %}
							{% for actividad in actividades %}
								{% if actividad.flujo_id == f.id%}
									<td width=10%>{{actividad.descripcion}}</td>
								{% endif %}
							{% endfor %}
						{% else %}
							<td colspan="3">Sin Actividades</td>
						{% endif %}
					<tr>
				</table>
			</td>
		</tr>
		<tr height=20px></tr>
	{% endfor %} 
	<br><br />
	
</table>
{% endblock %}
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Volver</a>
{% endblock %}
