{% extends 'base_proj.html' %}
{% block titulo %}
	<h1><b>{{proyecto.nombre}}</b></h1>
{% endblock %}

{% block script %}
	
 
{% endblock %}
{% block index %}
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>


		
	{%if misPermisos.PS == True or misPermisos.VP == True %}
	<li>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}"><i class="fa fa-ful fa-edit"></i>Sprints</a>
	</li>
	{% endif %}
	
	{% if misPermisos.CUS or misPermisos.MUS or misPermisos.EUS %}
	<li>
		<a href="{% url 'apps:listhu' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Product Backlog</a>
	</li>	
	{% endif %}
	<!-- 
	{% if misPermisos.PS %}

	<li>
		<a href="{% url 'apps:listsprint' proyecto.id 0 %}"><i class="fa fa-fw fa-edit"></i>Sprint Backlog</a>
	</li>	

		
	{% endif %}
	 
	 -->
	
	{% if misPermisos.CRP or misPermisos.ERP or misPermisos.MRP %}

	<li>
		<a href="{% url 'apps:listrolesproj' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Roles</a>
	</li>

	
	{% endif %}
		
	{% if misPermisos.AFP %}
		<li>
			<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Flujos</a>
		</li>
	{% endif %}
	

	{%if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:verCliente' proyecto.id%}"><i class="fa fa-fw fa-edit"></i>Ver cliente</a>
	</li>
	{% endif %}
	
	{% if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:reportes' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Reportes</a>
	</li>
	{% endif %}	
	
{% endblock %}

{% block encabezado %}

{% endblock %}


{% block contenido %}
	{% if mensaje %}
		<table border=1 bordercolor="green" width=100%>
			<tr><td align="center"><font color="green"><p>{{mensaje}}</p></font></td></tr>
		</table>
	{% endif %}
	{% if mensaje_error %}
		<table border=1 bordercolor="red" width=100%>
			<tr><td align="center"><font color="red"><p>{{mensaje_error}}</p></font></td></tr>
		</table>
	{% endif %}
{% if proyecto.nro_sprint != 0 %}
	<h1>Sprint {{proyecto.nro_sprint}}</h1>
{% endif %}
<br>
<table  border=0px  frame="lhs" cellspacing=1 cellpadding=20 width=100%>	
	<center>

	{% for f in flujo %}
		
		<tr>
			<td>
				<table bgcolor="#C0C0C0" bordercolor="#888888 " border=1px cellspacing=1 cellpadding=20 width=100%>
					<tr>
						<strong>{{f.descripcion}}</strong>
					</tr>
				</center>
					<tr height=30>
						{% for actividad in actividades %}
							{% if actividad.flujo_id == f.id%}
								<td  bgcolor="#282828 " colspan="3" align="center"  width=200 height=50><font color="#FFFFFF" style="text-transform: uppercase;">{{actividad.descripcion}}</font></td>
							
							{% endif %}
						{% endfor %} 
					<tr>		
				
					<tr>
						{% for actividad in actividades %}
					 		{% if actividad.flujo_id == f.id%}
								 <td width=65  bgcolor="#D0D0D0  " >To Do </td><td  bgcolor="#D0D0D0 "  width=65>Doing</td><td  bgcolor="#D0D0D0 "  width=65>Done</td>
							{% endif %}
						{% endfor %} 
					</tr>


					
					
					{% if hus %}
					{% for h in hus %}
						{% if h.f_actividad != 0 %}
							<tr>
								{% for i in tamanolista %}
								
									{% if  h.flujo == f.id and forloop.counter <= f.tamano %}
										{% if forloop.counter == h.flujo_posicion  %}
											<!-- <td><a href="{% url 'apps:setEstadoHu' proyecto.id h.id %}">{{h.nombre}}</a></td> -->
											{% if scrum or user_logged.id == h.usuario_Asignado %}
										 		<td  bgcolor="#F0F0F0"  height=100 valign="top" border=10px><small><a href="{% url 'apps:huprincipal' proyecto.id h.id %}"><font color="#0000"><b>{{h.nombre}}</b></font></a></small>
										 			<table>
										 			<tr height=50px></tr>
										 			<tr>
										 				{% if user_logged.id == h.usuario_Asignado %}
											 				<td>
											 					<a href="{% url 'apps:setEstadoHu' proyecto.id h.id  %}"><font title="Cambiar Estado" color="#0000"><i class="fa fa-fw fa-calendar"></i></font></a>
											 				</td>
										 				{% endif %}
										 				{% if user_logged.id == h.usuario_Asignado %}
											 				<td>
											 					<a href="{% url 'apps:registroHu' proyecto.id h.id  %}"><font title="Registrar Horas" color="#0000"><i class="fa fa-fw fa-tasks"></i></font></a>
											 				</td>
										 				{% endif %}
										 				<td>
										 					<a href="{% url 'apps:notasHu' proyecto.id h.id %}"><font title="Agregar Notas" color="#0000"><i class="fa fa-fw fa-tablet"></i></font></a>
										 				</td>
										 			</tr>
										 			</table>
					
										 		</td>
										 	{% else %}
										 		<td  bgcolor="#F0F0F0"  height=100 valign="top" border=10px><small><font color="#0000"><b>{{h.nombre}}</b></font></small></td>
										 	{% endif %}
										{% else %}
											<td height=100 ></td>
										{% endif %}
									{% endif %}
								{% endfor %}
							<tr>
						{% endif %}
					{% endfor %}
					{% else %}
						
					{% endif %}
				
				</table>
			</td>
		</tr>
	{% endfor %} 
	
</table>

	{% if proyecto.estado_id == 1 and scrum%}
		<form action="{% url 'apps:finalizarProyecto' proyecto.id 0 %}" method="post">{% csrf_token %}
			<br /><input type="submit", name="cambio", value="Finalizar Proyecto"><br />
		</form>
	{% endif %}

{% endblock %}

{% block equipo %}
	{% if misPermisos.APP or misPermisos.EPP %}
		<table height=1> 
			<tr><td><h4>Participantes:</h4></td>
			{% if misPermisos.APP %}
				<td><a href="{% url 'apps:listasigparticipante' proyecto.id %}">Agregar</a></td>
			{% endif %}
			{% if misPermisos.EPP %}
				<td><a href="{% url 'apps:listelimparticipante' proyecto.id %}">Eliminar</a></td></tr>
			{% endif %}
		</table>
	{% endif %}
	<table width=100%	 height=100>
		<td width=66%>
			<table border=1px width=100%>
				<tr>
					<td><b>Usuario</b></td><td><b>Roles</b></td>
				</tr>
				{% if users %}
					{% for us in users %}
						{% if us.is_active == True %}
							<tr>
								<td><a href="{% url 'apps:verUser' proyecto.id us.id %}">{{us.username}}</a></td>
								<td>
									{% for eq in equipo %}
										{% if eq.usuario_id == us.id %}
											{% for ro in roles %}
												{% if eq.rol_id == ro.id and eq.usuario_id == us.id %}
													{{ro.descripcion}}.
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}  
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
			</table>
		</td>
		<td width = 33%>
			<table border=1px width=100%>
				<tr><td><b>Ultima Conexion</b></td></tr>
				{% if users %}
					{% for us in users %}
						{% if us.is_active == True %}
							<tr><td>{{us.last_login}}</td></tr>
						{% endif %}		
					{% endfor %}
				{% endif %} 
			</table>
		</td>
	</table>
{% endblock %}
{% block atras %}
	<a href="{% url 'apps:listproyectosdelusuario' usuario.id %}">Volver</a>
{% endblock %}
