{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
<h1>Flujos</h1>
{% endblock %}
{% block contenido %}
<h3><font color="#888888">Agregar Nueva Plantilla de Flujo</font></h3>


<br>
{% if flujos %}


	
<table border="0" frame="lhs" borderstyle= "doble" cellspacing=2 cellpadding=20 bordercolor="green" width=50%>	
	
	<form action="{% url 'apps:agregarPlantillaProyecto' proyecto.id %}" method="post">
	{% csrf_token %} 
	{% for f in flujos %}
		
		<tr>
			<td><input type="checkbox" name="f[]" id="f{{ forloop.counter }}" value="{{ f.id }}" /></td>
			<td>
				<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width=100%>
					<tr>
						<strong>{{f.descripcion}}</strong>
					</tr>
				
					<tr>
						{% for actividad in actividades %}
							{% if actividad.flujo_id == f.id%}
								<td width=20%>{{actividad.descripcion}}</td>
							{% endif %}
						{% endfor %} 
					<tr>
				</table>
				<tr height=20px></tr>
			</td>
		</tr>
	{% endfor %} 
	
</table>
<br><input id="usar" name="usar" type="submit" value="Usar Plantilla" /></br>
</form>
{% else %}
<p>No existen plantillas de flujo disponibles a agregar</p>
{% endif %}

{% endblock %}
{% block atras %}
<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}">Atras</a>
{% endblock %}