<!DOCTYPE html> 
<p><label style="font-size: 20pt;"><strong>Crear nuevo proyecto       </strong></label>    <a href="/apps/modadmin/adminproyecto/">Cancelar</a></p> 


{% block contenido %}

<form id="formulario3"  method="post">
	<fieldset>
		<legend>Complete los campos</legend>
		{% csrf_token %}
		<p>(*)Campos obligatorios</p>
		<table>
			<tr>
				<td><label>*Nombre:</label> </td>
				<td><input id="campo1" name="nombre" type="text" size="20" maxlength="20" autofocus="autofocus" required/></td>
			</tr>
			
			<tr>
				<td><label>*Fecha de inicio:</label> </td>
				<td><input type="date" id="campo2" name="fechaInicio" required>AAAA-MM-DD</input></td>
			</tr>
			
			<tr>
				<td><label>*Fecha estimada de finalización:</label></td>
				<td><input type="date" id="campo3" name="fechaFin" required/>AAAA-MM-DD <label style="color: red; font-size: 12pt">{{msg}}</label></td>
			</tr>
			
			<tr>
				
				<td><label>Scrum Master:</label></td>				 
				<td>
						<select name="sm"  style="width:190px">
							{% for user in listuser %}
								<option>{{user.username}}</option>
							{% endfor %} 
							<option selected>{{user}}</option>
						</select>				
				</td>
			</tr>
	
		</table>
		</br><label>Descripción del proyecto:</label>
		<br><textarea name="descripcion" rows="10" cols="40"></textarea></br>
		</br><label>Observaciones:</label>
		<br><textarea name="observaciones" rows="10" cols="40"></textarea></br>
		<br><input id="campo5" name="crear" type="submit" value="Crear Proyecto" /></br>
	
	</fieldset>

</form>

{% endblock %}