{% extends 'base.html' %}

{% block titulo %}
	<h1>Modulo Proyecto</h1>
{% endblock %}
{% block encabezado %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block contenido %}
<br />
<h3>Seleccionar el rol a asignar al usuario</h3>

<form action="{% url 'apps:asigparticipanterol' proyecto.id usuario.id %}" method="post">{% csrf_token %}
{% if roles %}
	{% for r in roles%}
		{% if r.id != 3 and r.id != 4 %}
			<input type="checkbox" name="roles[]" id="option{{r.id}}" value={{r.id}} />
			<label for="option{{r.id}}"><b>{{r.descripcion}}</b></label><br />
		{% endif %}
	{% endfor %}
{% else %}
 	<p>No hay roles disponibles</p>
 {% endif %}
 <input type="submit" name="Asignar" value="Asignar roles"/>
 </form>
<br />
{% endblock %}
{% block atras %}
<a href="{% url 'apps:listasigparticipante' proyecto.id %}">Atras</a>
{% endblock %}