<h1><b>{{proyecto.nombre}}</b></h1>
{%if misPermisos.APP == True %}
<br><a href="{% url 'apps:listasigparticipante' proyecto.id %}">Asignar Participante</a><br />
{% endif %}
{%if misPermisos.EPP == True %}
<br><a href="{% url 'apps:listelimparticipante' proyecto.id %}">Eliminar Participante</a><br />
{% endif %}
{%if misPermisos.MP == True %}
<br><a href="{% url 'apps:listflujosproyectos' proyecto.id %}">Crear Flujo</a><br />
{% endif %}
{%if misPermisos.MP == True %}
<br><a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}">Modificar Flujo</a><br />
{% endif %}

<br />
<a href="{% url 'apps:listproyectosdelusuario' usuario.id %}">Volver</a>