{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block encabezado %}
<h1>{{flujo.descripcion}}</h1>
{% endblock %}
{% block contenido %}



{% if modificado == True %}
	<table border="1" bordercolor="green" width=100% align="center" >
		<tr><td align="center"><p><font color="green">Mensaje: El flujo se ha modificado con exito</font></p></td></tr>
	</table>
{% endif %}

<h3><font color="#888888">Modificar Flujo</font></h3>
<br>
{% if formFlujo %}
	<form action="{% url 'apps:flujosproyectosRequestMod' proyecto.id flujo.id 0 %}" method="post">{% csrf_token %}
		<table>{{formFlujo}}</table>
		<input type="submit", name="cambio", value="Modificar">
	</form>
	{% if actividades %}
		<br><br/>
		<h3><font color="#888888">Actividades del Flujo</font></h3>
		<table width=10%>
		{% for actividad in actividades %}
			<tr>
				<td><label>{{actividad.descripcion}}</label></td>
				<td><a href="{% url 'apps:flujosproyectosRequestModAct' proyecto.id flujo.id actividad.id %}">Modificar</a></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<h4>No hay actividades disponibles</h4>
	{% endif %}
{% else %}
	<h3>Formulario no disponible</h3>
{% endif %}
{% endblock %}
{% block atras %}
<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}">Atras</a>
{% endblock %}