{% extends 'base_proj.html' %}
{% block encabezado %}
	<h1>{{proyecto.nombre}}</h1>
	<h2>Planificacion del Sprint {{sprint.nro_sprint}}</h2>
{% endblock %}
{% block script %}
	
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart', 'line']});
google.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
      
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'horas planificadas');
      
      
	  {% for p in planeado %}
	  	
    	data.addRows([
    	[{{forloop.counter0}},{{p}}],
        
       
      ]);
	 {% endfor %}
      
     data.addColumn('number', 'horas reales');

	{% for np in nplaneado %}
	  
    	data.addRows([
    	[{{forloop.counter0}},,{{np}}],
        
       
      ]);
	 {% endfor %}
	 
	 
      var options = {
        hAxis: {
          title: 'Dias'
        },
        vAxis: {
          title: 'Horas'
        },
        pointSize: 3,
        maxValue: 500,
      
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
     
    }
    </script>


{% endblock %}




<br />
{% block contenido %}
	<div style= "clear : both;">
		<form action="{% url 'apps:sprints' proyecto.id sprint.id 0 %}" method="post">{% csrf_token %}
			{% if scrum.rol_id == 3 and proyecto.estado_id == 1 and sprint.estado == 0 %}
				<br /><input type="submit", name="cambio", value="Iniciar Sprint"><br />
			{% endif %}
		</form>
		<h3>Duracion del Sprint</h3>
		{% if sprint.estado != 0%}
			<h5><input type="text" id="duracion1" value="{{sprint.duracion}}" name="duracion" style="width:190px" disabled/> Semanas</h5><br />
		{% else %}
			<form action="{% url 'apps:sprints' proyecto.id sprint.id 0 %}" method="post">{% csrf_token %}
				<h5><input type="text" id="duracion1" value="{{sprint.duracion}}" name="duracion" style="width:190px"/><input type="submit", name="cambio", value="Establecer Duracion"> (En Semanas)</h5><br />
			</form>
		{% endif %}
	</div>
	<div style="clear: left;">
		<h3>User Stories</h3>
		{% if hus %}
			<table width=100%>
				<tr>
					<td></td><td><b>Codigo</b></td><td><b>Nombre</b></td><td><b>Fecha Creacion</b></td><td><b>Valor de Negocio</b></td><td><b>Valor Tecnico</b></td><td><b>Prioridad</b></td><td><b>Tiempo Consumido</b></td><td><b>ESTADO</b></td><td><b>SPRINT</b></td>
				</tr>
				<form action="{% url 'apps:sprints' proyecto.id sprint.id 0 %}" method="post">{% csrf_token %}
					{% for hu in hus %}
						{% if userStory.id == hu.id %}
							{% if hu.sprint == sprint.nro_sprint and sprint.estado == 0%}
								<tr style="border-bottom: dotted; border-bottom-color: red;"><td><br /></td></tr>
							{% else %}
								<tr style="border-bottom: dotted; border-bottom-color: green;"><td><br /></td></tr>
							{% endif %}
						{% endif %}
						<tr>
							{% if sprint.estado == 0 %}
								<td>
									{% if hu.sprint == sprint.nro_sprint %}
										<input type="checkbox" name="hus[]" id="option{{hu.id}}" value={{hu.id}} checked="checked" />
									{% else %}
										<input type="checkbox" name="hus[]" id="option{{hu.id}}" value={{hu.id}} />
									{% endif %}
									<label for="option{{hu.id}}">
								</td>
							{% else %}
							<td></td>
							{% endif %}
							<td>
								{{hu.codigo}}<a href="{% url 'apps:sprintsMas' proyecto.id sprint.id hu.id %}"> + </a><font size="1"><input type="submit", name="cambio", value=" - "></font>
							</td>
							<td>{{hu.nombre}}</td><td>&emsp;{{hu.fecha_creacion}}</td><td>&emsp;{{hu.valor_Negocio}}</td><td>&emsp;{{hu.valor_Tecnico}}</td><td>&emsp;{{hu.prioridad}}</td>
							<td>
								&emsp;{{hu.tiempo_Real}} Horas
							</td>
							<td>
								<b>
									{% if hu.estado_scrum_id == 2 %}
										Asignado
									{% elif hu.estado_scrum_id == 3 %}
										No Asignado
									{% elif hu.estado_scrum_id == 4 %}
										Pendiente
									{% endif %}
								</b>
							</td>
							<td>
								<b>
									{% if hu.sprint %}
										&emsp;{{hu.sprint}}
									{% endif %}
								</b>
							</td>
						</tr>
						{% if userStory.id == hu.id %}
							<tr><td><br /></td></tr>
							<tr><td></td><td><b>Tiempo Estimado</b></td><td><b>Usuario Asignado</b></td><td><b>Fecha de inicio</b></td><td><b>Ult. fecha Mod.</b></td><td><b>Flujo</b></td><td><b>Actividad</b></td><td><b>Estado Act.</b></td></tr>
							{% if hu.sprint == sprint.nro_sprint and sprint.estado == 0%}
								<!-- <form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %} -->
									<tr style="border-bottom: dotted; border-bottom-color: red;"><td></td><td>{{hu.tiempo_Estimado}} Horas</td>
										<td>
											<select name="us"  style="width:90px">
												{% if usuario %}
													<option>{{usuario.username}}</option>
													{% for user in users %}
														{% if usuario.id != user.id %}
															<option >{{user.username}}</option>
														{% endif %}
													{% endfor %}
												{% else %}
			 										{% for user in users %}
														<option >{{user.username}}</option>
													{% endfor %} 
												{% endif %}
											</select>
										</td>
										<td>{{hu.fecha_inicio}}<td>{{hu.fecha_modificacion}}</td>
										<td>
											<select name="flujo"  style="width:90px">
												{% if flujo %}
													<option>{{flujo.descripcion}}</option>
													{% for f in flujos %}
														{% if flujo.id != f.id %}
															<option >{{f.descripcion}}</option>
														{% endif %}
													{% endfor %}
												{% else %}
													{% for f in flujos %}
														<option >{{f.descripcion}}</option>
													{% endfor %} 
												{% endif %}
											</select>
										</td>
										<td>&emsp;&emsp;{{f_actividad}}</td><td>&emsp;&emsp;{{f_a_estado.descripcion}}</td>
										<td>
											<input type="submit" name="cambio" value="Modificar " />
											<select name="hu_id" style="visibility:hidden">
												<option >{{hu.id}}</option>
											</select>
										</td>
									</tr>
								<!-- </form> -->
							{% else %}
								<tr style="border-bottom: dotted; border-bottom-color: green;"><td></td><td>{{hu.tiempo_Estimado}} Horas</td><td>{{usuario.username}}</td><td>{{hu.fecha_inicio}}<td>{{hu.fecha_modificacion}}</td><td>{{flujo.descripcion}}</td><td>&emsp;&emsp;{{f_actividad}}</td><td>&emsp;&emsp;{{f_a_estado.descripcion}}</td></tr>
							{% endif %}
							<tr><td><br /></td></tr>
							{% if forloop.counter < cant_hus %}
								<tr>
									<td></td><td><b>Codigo</b></td><td><b>Nombre</b></td><td><b>Fecha Creacion</b></td><td><b>Valor de Negocio</b></td><td><b>Valor Tecnico</b></td><td><b>Prioridad</b></td><td><b>Tiempo Consumido</b></td><td><b>ESTADO</b></td><td><b>SPRINT</b></td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if sprint.estado == 0 %}
						<div style="float: right;">
							<input type="submit" name="cambio" value="Guardar Cambios"/><br /><br />
						</div>
					{% endif %}
				</form>
			</table>
		{% endif %}
	</div>
{% endblock %}
{% block equipo %}
	<center>
		<table border=1px width=66%>
			<tr>
				<td><b>Usuario</b></td><td><b>Ult. fecha Mod.</b></td><td><b>horas</b></b></td><td></td>
			</tr>
			{% if users %}
				{% for us in users %}
					{% if us.is_active == True %}
						<tr>
							<td><a href="{% url 'apps:verUser' proyecto.id us.id %}">{{us.username}}</a></td>
							<td>
								{% for u in users %}
									{% if u.id == us.id %}
										{% if us.is_active == True %}
											{{us.last_login}}
										{% endif %}
									{% endif %}
								{% endfor %}  
							</td>
							<td>
	
			
					
					
					

            </div>		<form action="{% url 'apps:horasUsuarioSprint' proyecto.id sprint.id us.id %}" method="post">{% csrf_token %}
									{% for hora_sprint_usuario in horas_sprint_usuario %}
										{% if hora_sprint_usuario.usuario_id == us.id %}
											{% if sprint.estado != 0%}
												<h5><input type="text" id="horas1" value="{{hora_sprint_usuario.horas}}" name="horas" style="width:190px" disabled/></h5>
											{% else %}
												<h5><input type="text" id="horas1" value="{{hora_sprint_usuario.horas}}" name="horas" style="width:190px"/><input type="submit", name="cambio", value="Establecer Horas"></h5>
											{% endif %}
										{% endif %}
									{% endfor %}
								</form>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
		</table>
	</center>
{% endblock %}
{% block chart %}
   <div style=" height:100vh;">
					
				<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>  Sprint BurnDown Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div id="chart_div" class="flot-chart-content" id="flot-line-chart">
                                    
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			
					
					
					

   </div>
 {% endblock %}
{% block atras %}
	<form action="{% url 'apps:sprints' proyecto.id sprint.id 0 %}" method="post">{% csrf_token %}
		<input type="submit" name="cambio" value="Volver" />
	</form>
{% endblock %}