{% extends 'base.html' %}
{% block encabezado %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block contenido %}
	<center>
		<h3>Analisis de User Stories del Sprint {{sprint.nro_sprint}}</h3>
	</center>
	<center>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}">Hecho</a>
	</center>
	<div style="clear: left;">
		<h3>User Stories Pendientes</h3>
		{% if hus %}
			<table width=100%>
				<tr>
					<td><b>Codigo</b></td><td><b>Nombre</b></td><td><b>Fecha Creacion</b></td><td><b>Valor de Negocio</b></td><td><b>Valor Tecnico</b></td><td><b>Prioridad</b></td><td><b>Tiempo Consumido</b></td><td><b>ESTADO</b></td><td><b>SPRINT</b></td>
				</tr>
				{% for hu in hus %}
					<form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %}
						{% if userStory.id == hu.id %}
							<tr style="border-bottom: dotted; border-bottom-color: green;"><td><br /></td></tr>
						{% endif %}
						<tr>
							<form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %}
								<td>
									{{hu.codigo}}<font size="1"><input type="submit", name="cambio", value=" +"><input type="submit", name="cambio", value=" -"></font>
								</td>
							</form>
							<td>{{hu.nombre}}</td><td>&emsp;{{hu.fecha_creacion}}</td><td>&emsp;{{hu.valor_Negocio}}</td><td>&emsp;{{hu.valor_Tecnico}}</td><td>&emsp;{{hu.prioridad}}</td>
							<td>
								&emsp;{{hu.tiempo_Real}} Horas
							</td>
							<td>
								<b>
									{% if hu.estado_scrum_id == 2 %}
										Asignado
									{% elif hu.estado_scrum_id == 3 %}
										No Asignado
									{% elif hu.estado_scrum_id == 4 %}
										Pendiente
									{% endif %}
								</b>
							</td>
							<td>
								<b>
									{% if hu.sprint %}
										&emsp;{{hu.sprint}}
									{% endif %}
								</b>
							</td>
						</tr>
						{% if userStory.id == hu.id %}
							<tr><td><br /></td></tr>
							<tr><td><b>Tiempo Estimado</b></td><td><b>Usuario Asignado</b></td><td><b>Fecha de inicio</b></td><td><b>Ult. fecha Mod.</b></td><td><b>Flujo</b></td><td><b>Actividad</b></td><td><b>Estado Act.</b></td></tr>
							<tr style="border-bottom: dotted; border-bottom-color: green;"><td>{{hu.tiempo_Estimado}} Horas</td><td>{{usuario.username}}</td><td>{{hu.fecha_inicio}}<td>{{hu.fecha_modificacion}}</td><td>{{flujo.descripcion}}</td><td>&emsp;&emsp;{{f_actividad}}</td><td>&emsp;&emsp;{{f_a_estado.descripcion}}</td>
								<td style="border: dotted; border-color: red;" >
									<form action="{% url 'apps:sprints' proyecto.id sprint.id hu.id %}" method="post">{% csrf_token %}
										<input type="submit", name="cambio", value="Cancelar User Story", style="width: 135px">
									</form>
								</td>
							</tr>
							<tr><td><br /></td></tr>
							<tr>
								<td><b>Codigo</b></td><td><b>Nombre</b></td><td><b>Fecha Creacion</b></td><td><b>Valor de Negocio</b></td><td><b>Valor Tecnico</b></td><td><b>Prioridad</b></td><td><b>Tiempo Consumido</b></td><td><b>ESTADO</b></td><td><b>SPRINT</b></td>
							</tr>
						{% endif %}
				{% endfor %}
					</form>
			</table>
		{% else %}
			<table border=1 bordercolor="green" width=100%>
				<tr><td align="center"><font color="green"><p><h4>No hay User Stories para analizar</h4></p></font></td></tr>
			</table>
		{% endif%}
	</div>
{% endblock %}