{% extends 'base.html' %}
{% block titulo %}
	<h1>Modulo Proyecto</h1>
{% endblock %}
{% block contenido %}
<h4>{{proyecto.nombre}}</h4>


{% if usuarios %}
	<h3>Usuarios del proyecto</h3>
	{% for u in usuarios %}
		<label>{{u.first_name}} {{u.last_name}} ({{u.username}})</label>
		<a href="{% url 'apps:elimparticipante' proyecto.id u.id %}">Eliminar</a><br /><br />
	{% endfor %}
{% else %}
	<p>No se encontro ningun usuario</p>
{% endif %}
{% endblock %}
<br />
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Volver</a>
{% endblock %}