{% extends 'base.html' %}
{% block encabezado %}
	<h1>Modulo Proyecto</h1>
{% endblock %}
{% block titulo %}
{% endblock %}
{% block contenido %}
<h4>Proyectos del Usuario</h4>

{% if proyectos %}
	<div style="float:left">
			{% for p in proyectos %}
				<a href="{% url 'apps:accionesproyecto' p.id %}">{{p.nombre}}</a>&emsp;&emsp;<br />
			{% endfor %}
	</div>
	<div style="float:left">
			{% for rol in roles %}
			
					({% for r in rol %}
						{{r}}, 
					{% endfor %})
					<br />
			{% endfor %}
	</div>
{% else %}
	<p>El usuario no se encuentra en ningun proyecto</p>
{% endif %}
<br />
{% endblock %}
{% block atras %}
<a href="{% url 'apps:inicio' user_id rol_id %}">Atras</a><br />
{% endblock %}
