{% extends 'base.html' %}
{% block titulo %}
<h1>Modulo Proyecto</h1>
{% endblock %}
{% block encabezado %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block contenido %}
<legend>Eliminar Participantes</legend>

{% if usuarios %}
	<h4>Usuarios del proyecto</h4>
	{% for u in usuarios %}
		<table>
			<tr>
				<td width="150px">{{u.first_name}} {{u.last_name}} ({{u.username}})</td>
				<td width="70px"><a href="{% url 'apps:elimparticipante' proyecto.id u.id %}">Eliminar</a></td>
			</tr>
		</table>
	{% endfor %}
{% else %}
	<p>No se encontro ningun usuario</p>
{% endif %}
{% endblock %}
<br />
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Volver</a>
{% endblock %}