{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block encabezado %}
<h1>Reportes</h1>
{% endblock %}
{% block index %}
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>


		
	{%if misPermisos.PS == True or misPermisos.VP == True %}
	<li>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}"><i class="fa fa-ful fa-edit"></i>Sprints</a>
	</li>
	{% endif %}
	
	{% if misPermisos.CUS or misPermisos.MUS or misPermisos.EUS %}
	<li>
		<a href="{% url 'apps:listhu' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Product Backlog</a>
	</li>	
	{% endif %}
	<!-- 
	{% if misPermisos.PS %}

	<li>
		<a href="{% url 'apps:listsprint' proyecto.id 0 %}"><i class="fa fa-fw fa-edit"></i>Sprint Backlog</a>
	</li>	

		
	{% endif %}
	 
	 -->
	
	{% if misPermisos.CRP or misPermisos.ERP or misPermisos.MRP %}

	<li>
		<a href="{% url 'apps:listrolesproj' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Roles</a>
	</li>

	
	{% endif %}
		
	{% if misPermisos.AFP %}
		<li>
			<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Flujos</a>
		</li>
	{% endif %}
	

	{%if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:verCliente' proyecto.id%}"><i class="fa fa-fw fa-edit"></i>Ver cliente</a>
	</li>
	{% endif %}
	
	{% if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:reportes' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Reportes</a>
	</li>
	{% endif %}	
	
{% endblock %}
{% block contenido %}
	
	<table>
	<tr><td><a href="{% url 'apps:reporte_por_equipo' proyecto.id proyecto.nro_sprint %}"><i class="fa fa-fw fa-edit"></i> Cantidad de trabajos en curso por equipo</a></br></br></td></tr>
	
	<tr><td><a href="{% url 'apps:reporte_select_user' proyecto.id %}"><i class="fa fa-fw fa-edit"></i> Cantidad de trabajos por usuario pendiente, en curso, finalizados</a></br></br></td></tr>
	
	<tr><td><a href="{% url 'apps:reporte_HU_porPrioridad' proyecto.id proyecto.nro_sprint %}"><i class="fa fa-fw fa-edit"></i> Lista clasificada por orden de prioridad de todas las actividades  para completar un proyecto</a></br></br></td></tr>
	
	<tr><td><a href="{% url 'apps:reporte_tiempo_estimadoPor_Proyecto' proyecto.id proyecto.nro_sprint %}"><i class="fa fa-fw fa-edit"></i> Lista de tiempo estimado por  proyecto y la ejecución del mismo (graficado, sprint por proyecto)</a></br></br></td></tr>
	
	<tr><td><a href="{% url 'apps:reporte_HU_porTiempoEstimado' proyecto.id  %}"><i class="fa fa-fw fa-edit"></i> El Backlog del Producto, lista ordenada de User Stories, en el orden que esperamos deban terminarse</a></br></br></td></tr>
	
	<tr><td><a href="{% url 'apps:reporte_HU_SprintEnCurso' proyecto.id proyecto.nro_sprint %}"><i class="fa fa-fw fa-edit"></i> El Backlog del Sprint, lista de los elementos del Backlog del Producto, elegidos para ser desarrollados en el Sprint actual</a></br></br></td></tr>
	</table>

{% endblock %}
{% block atras %}
	<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Atras</a>
{% endblock %}
