{% extends 'base.html' %}
{% block titulo %}
<h1>Modificar Flujo</h1>
{% endblock %}
{% block contenido %}
<center>
<h2>Seleccione una plantilla</h2>

	
<table border="10" frame="lhs" borderstyle= "doble" cellspacing=2 cellpadding=20 bordercolor="green">	
	{% for f in flujos %}
		<tr>
			<td>
				<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
					<tr>
						<strong>{{f.descripcion}}</strong>
					</tr>
					<tr>
						{% if actividades %}
							{% for actividad in actividades %}
								{% if actividad.flujo_id == f.id%}
									<td colspan="3">{{actividad.descripcion}}</td>
								{% endif %}
							{% endfor %}
						{% else %}
							<td colspan="3">Sin Actividades</td>
						{% endif %}
					<tr>
				</table>
			</td>
			<td>
				<br><h5><a href="{% url 'apps:flujosproyectosRequestMod' proyecto.id f.id 0 %}">Modificar</a></h5><br />
			</td>
		</tr>
	{% endfor %} 
	<br><br />
	
</table>
{% endblock %}
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Volver</a>
{% endblock %}