{% extends 'base.html' %}
{% block titulo %}
<h1>Modulo Proyecto</h1>
{% endblock %}
{% block encabezado %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block contenido %}
<h2>Asignar Participantes</h2>

{% if usuarios %}
	<h4>Usuarios disponibles</h4>
	{% for u in usuarios %}
		{% if u.id != 1 %}
			<label> {{u.first_name}} {{u.last_name}} ({{u.username}})</label>
			<a href="{% url 'apps:listasigparticipanterol' proyecto.id u.id %}">Asignar</a><br /><br />
		{% endif %}
	{% endfor %}
{% else %}
	<p>No se encontro ningun usuario disponible</p>
{% endif %}
{% endblock %}
<br />
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Atras</a>
{% endblock %}