{% extends 'base.html' %}
{% block titulo %}
<h1>Modificar Actividad del flujo</h1>
{% endblock %}
{% block contenido %}
<h3>Actividad</h3>
{% if form %}
	<form action="{% url 'apps:flujosproyectosRequestMod' proyecto.id flujo.id actividad.id%}" method="post">{% csrf_token %}
		<table>{{form}}</table>
		<input type="submit", name="cambio" , value="modificar">
		<input type="submit", name="cambio" , value="eliminar">
	</form>
{% else %}
	<h3>Formulario no disponible</h3>
{% endif %}
{% endblock %}
{% block atras %}
<br><a href="{% url 'apps:flujosproyectosRequestMod' proyecto.id flujo.id 0 %}">Atras</a><br />
{% endblock %}