{% extends 'base.html' %}
{% block uptitulo %}
{% if proj %}
	<h1>{{proyectonombre}}</h1>
{% else %}
	<h1>Administrar Roles</h1>
{% endif %}
{% endblock %}
{% block encabezado %}
<h1>{{rol.descripcion}}</h1>

{% endblock %}
<br>
{% block contenido %}
<h3>Modificar Rol</h3>
<br>
<form action="" method="post">{% csrf_token %}
	
	<table>{{ form }}</table>
	<input type="submit" value="Modificar">
</form>
<a href="{% url 'apps:rolemodifypermisos' user_logged rol.id proyecto_id %}">Ir a Modificar Permisos</a>
{% endblock %}
{% block atras %}
	{% if proj %}
		<a href="{% url 'apps:listrolesproj' proyecto_id %}">Atras</a>
	{% else %}
		<a href="{% url 'apps:listrolesmod' user_logged %}">Atras</a><br />
	{% endif %}
{% endblock %}