{% extends 'base.html' %}
{% block titulo %}
<h1>Administrar Roles</h1>
{% endblock %}
{% block encabezado %}
<h1>Registrar un nuevo Rol</h1>
{% endblock %}
{% block contenido %}
<form action="{% url 'apps:listpermisos' user_logged %}" method="post">{% csrf_token %}
	<table>{{ form }}</table>
	<p><input type='submit' value='Registrar'/></p>
</form>
{% endblock %}
{% block atras %}
	{% if proyecto %}
		<a href="{% url 'apps:listrolesproj' proyecto_id %}">Atras</a>
	{% else %}
		<a href="{% url 'apps:listrolesmod' user_logged %}">Atras</a>
	{% endif %}
{% endblock %}