{% extends 'base.html' %}
{% block uptitulo %}
	<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block titulo %}
<h1>Roles</h1>
{% endblock %}
{% block index %}
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>


		
	{%if misPermisos.PS == True %}
	<li>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}"><i class="fa fa-fw fa-edit"></i>Sprints</a>
	</li>
	{% endif %}
	
	{% if misPermisos.CUS or misPermisos.MUS or misPermisos.EUS %}
	<li>
		<a href="{% url 'apps:listhu' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Product Backlog</a>
	</li>	
	{% endif %}
	<!-- 
	{% if misPermisos.PS %}

	<li>
		<a href="{% url 'apps:listsprint' proyecto.id 0 %}"><i class="fa fa-fw fa-edit"></i>Sprint Backlog</a>
	</li>	

		
	{% endif %}
	 
	 -->
	
	{% if misPermisos.CRP or misPermisos.ERP or misPermisos.MRP %}

	<li>
		<a href="{% url 'apps:listrolesproj' proyecto.id %}"><i class="fa fa-fw fa-edit"></i><font color="#FFFFFF">Roles</font></a>
	</li>

	
	{% endif %}
		
		
	{% if misPermisos.AFP %}
		<li>
			<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Flujos</a>
		</li>
	{% endif %}

	{%if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:verCliente' proyecto.id%}"><i class="fa fa-fw fa-edit"></i>Ver cliente</a>
	</li>
	{% endif %}
	
{% endblock %}
{% block contenido %}
	{% if guardado %}
		<table bordercolor="green", border=1px, width=100%>
			<tr>
				<td align="center"><p><font color="green">El Rol se ha creado con exito</font></p></td>
			</tr>
		</table>
	{% elif modificado%}
		<table bordercolor="green", border=1px, width=100%>
			<tr>
				<td align="center"><p><font color="green">El Rol se ha modificado con exito</font></p></td>
			</tr>
		</table>
	{% elif eliminado %}
		<table bordercolor="green", border=1px, width=100%>
			<tr>
				<td align="center"><p><font color="green">El Rol se ha eliminado con exito</font></p></td>
			</tr>
		</table>
	{% endif %}
	
	{% if misPermisos.CRP %}
		<a href="{% url 'apps:rolecreateproj' proyecto.id %}">Nuevo Rol</a><br />
	{% endif %}
	<br>
	{% if roles %}
	<table width = 15%>

		<tr>
		{% for r in roles %}
			{% if r.estado == True %}
				<td><label>{{r.descripcion}}</label></td>
				{% if misPermisos.MRP %}
					<td><a href="{% url  'apps:rolemodifyproj' proyecto.id r.id %}">Modificar</a></td>
				{% endif %}
				{% if misPermisos.ERP %}
					<td><a href="{% url 'apps:roledeleteproj' proyecto.id r.id %}">Eliminar</a></td>
				{% endif %}
			{% endif %}
			</tr>
		{% endfor %}
		
		</table>
	{% else %}
		<p>No existen roles registrados disponibles para la edicion</p>
	{% endif %}
	
{% endblock %}
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto.id %}">Atras</a>
{% endblock %}