{% extends 'base.html' %}
{% block titulo %}
	<h1>Administrar Roles</h1>
{% endblock %}
{% block contenido %}
	{% if guardado %}
		<table bordercolor="green", border=1px, width=100%>
			<tr>
				<td align="center"><p><font color="green">El Rol se ha creado con exito</font></p></td>
			</tr>
		</table>
	{% elif modificado%}
		<table bordercolor="green", border=1px, width=100%>
			<tr>
				<td align="center"><p><font color="green">El Rol se ha modificado con exito</font></p></td>
			</tr>
		</table>
	{% elif eliminado %}
		<table bordercolor="green", border=1px, width=100%>
			<tr>
				<td align="center"><p><font color="green">El Rol se ha eliminado con exito</font></p></td>
			</tr>
		</table>
	{% endif %}
	{% if misPermisos.CRP %}
		<a href="{% url 'apps:rolecreateproj' proyecto_id %}">Nuevo Rol</a><br />
		<br>
	{% endif %}
	
	{% if roles %}
		{% for r in roles %}
			{% if r.estado == True %}
				<label>{{r.descripcion}}</label>
				{% if misPermisos.MRP %}
					<a href="{% url  'apps:rolemodifyproj' proyecto_id r.id %}">Modificar</a>
				{% endif %}
				{% if misPermisos.ERP %}
					<a href="{% url 'apps:roledeleteproj' proyecto_id r.id %}">Eliminar</a>
				{% endif %}
				<br />
			{% endif %}
		{% endfor %}
	{% else %}
		<p>No existen roles registrados disponibles para la edicion</p>
	{% endif %}
	
{% endblock %}
{% block atras %}
<a href="{% url 'apps:accionesproyecto' proyecto_id %}">Atras</a>
{% endblock %}