{% extends 'base.html' %}
{% block titulo %}
	<h1>Administrar Roles</h1>
{% endblock %}
{% block contenido %}
	{% if mensaje %}
		<table border=1 bordercolor="red" width=100%>
			<tr><td align="center"><font color="red"><p>{{mensaje}}</p></font></td></tr>
		</table>
	{% endif %}
	{% if misPermisos.CR %}
		<a href="{% url  'apps:listpermisos' user_logged %}">Nuevo Rol</a><br />
	{% endif %}
	<br>
	
	{% if roles %}
	{% for r in roles %}
		{% if r.estado == True %}
			<table>
				<tr>
					<td width="110px"><b>{{r.descripcion}}</b></td>
					<td width="70px">
						{% if misPermisos.MR %}
							<a href="{% url  'apps:rolemodify' user_logged r.id %}">Modificar</a>
						{% endif %}
					</td>
					<td width="70px">
						{% if misPermisos.ER %}
							<a href="{% url 'apps:roledelete'  user_logged r.id %}">Eliminar</a>
						{% endif %}
					</td>
				</tr>
			</table>
		{% endif %}
	{% endfor %}
{% else %}
	<p>There are no roles in db</p>
{% endif %}
	
{% endblock %}
{% block atras %}
<a href="{% url 'apps:adminmod' user_logged %}">Atras</a>
{% endblock %}