{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyecto.nombre}}</h1>
{% endblock %}
{% block encabezado %}
<h1>{{role_descripcion}}</h1>
{% endblock %}

{% block contenido %}
	<h3><font color="#888888 ">Seleccione los permisos a asignar al rol {{role_descripcion}}</font></h3>
	<br>
	<form action="{% url 'apps:asignarrolproj' proyecto.id role_id%}" method="post">{% csrf_token %}
		{% if permisos %}
			{% for p in permisos%}
				<!-- <p>hola</p> -->
				<input type="checkbox" name="permisos" id="option{{p.id}}" value={{p.id}} />
				<label for="option{{p.id}}"><b>{{p.descripcion}}</b></label><br />
			{% endfor %}
		{% else %}
		 	<p>There are no elements in permisos</p>
		 {% endif %}
		 <input type="submit" name="Asignar" value="Asignar Permisos"/>
	 </form>
 {% endblock %}
 {% block atras %}
 	
 {% endblock %}