{% extends 'base.html' %}
{% block uptitulo %}
<h1>{{proyectonombre}}</h1>
{% endblock %}
{% block titulo %}
<h1>Roles </h1>
{% endblock %}
{% block encabezado %}

{% endblock %}

{% block index %}
	<li>
		<a href="{% url 'apps:accionesproyecto' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>{{proyecto.nombre}}</a>
	</li>


		
	{%if misPermisos.PS == True %}
	<li>
		<a href="{% url 'apps:sprints' proyecto.id 0 0 %}"><i class="fa fa-fw fa-edit"></i>Sprints</a>
	</li>
	{% endif %}
	
	{% if misPermisos.CUS or misPermisos.MUS or misPermisos.EUS %}
	<li>
		<a href="{% url 'apps:listhu' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Product Backlog</a>
	</li>	
	{% endif %}
	<!-- 
	{% if misPermisos.PS %}

	<li>
		<a href="{% url 'apps:listsprint' proyecto.id 0 %}"><i class="fa fa-fw fa-edit"></i>Sprint Backlog</a>
	</li>	

		
	{% endif %}
	 
	 -->
	
	{% if misPermisos.CRP or misPermisos.ERP or misPermisos.MRP %}

	<li>
		<a href="{% url 'apps:listrolesproj' proyecto.id %}"><i class="fa fa-fw fa-edit"></i><font color="#FFFFFF">Roles</font></a>
	</li>

	
	{% endif %}
		
		 
	<li>
		<a href="{% url 'apps:listflujosproyectosMod' proyecto.id %}"><i class="fa fa-fw fa-edit"></i>Flujos</a>
	</li>
	

	{%if misPermisos.VP %}
	<li>
		<a href="{% url 'apps:verCliente' proyecto.id%}"><i class="fa fa-fw fa-edit"></i>Ver cliente</a>
	</li>
	{% endif %}
	
{% endblock %}
{% block contenido %}
<h3><font color="#888888 ">Nuevo Rol</font></h3>
<br>
<form action="{% url 'apps:rolecreateproj' proyecto.id %}" method="post">{% csrf_token %}
	<table>{{ form }}</table>
	<p><input type='submit' value='Registrar'/></p>
</form>
{% endblock %}
{% block atras %}
	{% if proyecto %}
		<a href="{% url 'apps:listrolesproj' proyecto.id %}">Atras</a>
	{% endif %}
{% endblock %}