{% extends 'base.html' %}
{% block titulo %}
<h1>Administrar Roles</h1>
{% endblock %}
{% block encabezado %}
<h1>{{role_descripcion}}</h1>
{% endblock %}
{% block contenido %}
<h4>Seleccione los permisos a asignar al rol</h4>
<form action="{% url 'apps:asignarpermisosmod' role_id %}" method="post">{% csrf_token %}
{% if permisos %}
	{% for p in permisos%}
		<!-- <p>hola</p> -->
		{% if p.estado == True %}
			<input type="checkbox" name="permisos" id="option{{p.id}}" value={{p.id}} checked />
			<label for="option{{p.id}}"><b>{{p.descripcion}}</b></label><br />
		{% else %}
			<input type="checkbox" name="permisos" id="option{{p.id}}" value={{p.id}} />
			<label for="option{{p.id}}"><b>{{p.descripcion}}</b></label><br />
		{% endif %}
	{% endfor %}
{% else %}
 	<p>There are no elements in permisos</p>
 {% endif %}
 <input type="submit" name="Asignar" value="Asignar Permisos"/>
 </form>
{% endblock %}
{% block atras %}

{% endblock %}