
{% block titulo %}
<title>SGPA</title>

<center>
	<div style="color: blue">
		<h2>Acceso correcto al sistema</h2>
	</div>
</center>

{% endblock %} 

{% block encabezado %}
<center>
	<h1>Bienvenido</h1>
</center>

{% endblock %}



<div style="background-color: #AFEEEE;">
	{% block contenido %}

	<center>
		<div
			style="border: 2px; width: 500; height: 200; border-style: dotted; border-width: 5px;">
			<p>Bienvenido {{usuario.username|upper}}, la ultima vez que te
				vimos por aqui fue {{usuario.last_login}}.</p>
			<p>Eres miembro desde {{usuario.date_joined}}</p>
		</div>
		<h3>Opciones</h3>
		<table border="5">
			<td><strong><a href="/apps/modadmin">Modulo Administracion</a></strong></td>
			<td><strong><a href="{% url 'apps:listproyectosdelusuario' usuario.id %}">Modulo Proyecto</a></strong></td>
			<td><strong><a href="/apps/cerrar">Salir</a></strong></td>
		</table>
	</center>

	{% endblock %}
</div>

