{% extends 'base.html' %}
{% block titulo %}
	<h1>Administrar Usuarios</h1>
{% endblock %}
{% block contenido %}
	{% if misPermisos.CU %}
		<a href="{% url 'apps:nuevo_usuario' user_logged.id %}">Nuevo Usuario</a><br />
	{% endif %}
	<br>
	{% if users %}
		{% for user in users %}
			{% if user.is_active == True and user.id != user_logged.id %}
				<table>
					<tr>
						<td width="70px"><label><b>{{user.username}}</b></label></td>
					
					
						<td width="70px">
							{% if misPermisos.MU %}
								<a href="{% url 'apps:muser' user_logged.id user.id %}">Modificar</a>
							{% endif %}
						</td>
					
					
						<td width="90px">
							{% if misPermisos.EU %}
								<a href="{% url 'apps:deluser' user_logged.id user.id %}">Eliminar</a>
							{% endif %}
						</td>
					</tr>
				</table>
			{% endif %}
		{% endfor %}
	{% else %}
		<p>There are no users in database</p>
	{% endif %} 
{% endblock %}
{% block atras %}
<a href="{% url 'apps:adminmod' user_logged.id %}">Atras</a>
{% endblock %}
